interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/user/repos?User-Agent=IGitt
  response:
    body: {string: '{"message":"Requires authentication","documentation_url":"https://developer.github.com/v3"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [401 Unauthorized]
      X-GitHub-Media-Type: [github.v3; format=json]
      X-RateLimit-Limit: ['60']
      X-RateLimit-Remaining: ['58']
      X-RateLimit-Reset: ['1502645757']
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects?per_page=100&membership=True&User-Agent=IGitt
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects?User-Agent=IGitt&archived=false&membership=true&order_by=created_at&owned=false&page=1&per_page=100&simple=false&sort=desc&starred=false&statistics=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
          rel="first", <https://gitlab.com/api/v4/projects?User-Agent=IGitt&archived=false&membership=true&order_by=created_at&owned=false&page=0&per_page=100&simple=false&sort=desc&starred=false&statistics=false&with_issues_enabled=false&with_merge_requests_enabled=false>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:8000/answer?question=something
  response:
    body: {string: '[]

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://0.0.0.0:8000/answer?question=getting+started+with+coala
  response:
    body: {string: "[\n  [\n    \"Actually Writing a Test\\nSo how do you implement\
        \ a test in coala? First up, tests are placed into\\nthe coala-bears/tests\
        \ (if you want to write a test for a bear) or\\ncoala/tests (if you test a\
        \ component written for the coalib)\\ndirectory. They are also written in\
        \ Python (version 3) and get\\nautomatically executed by running:\\nThere's\
        \ only one constraint:\\nThe name of the test file has to end with Test.py\
        \ (for example\\nMyCustomTest.py, but not MyCustomTestSuite.py).\\nIf pytest\
        \ seems to give errors, try running python3 -m pytest\\ninstead.\\n\\nOften\
        \ you don't want to run all available tests. To run your\\nspecific one, type\
        \ (in the coala root folder):\\n\\n/app/coala/docs/Developers/Writing_Tests.rst:47:\
        \ (WARNING/2) Cannot analyze code. Pygments package not found.\\n\\n.. code::\
        \ shell\\n\\n    $ pytest -k <your-test>\\n\\n\\nYou can even give partial\
        \ names or queries like \\\"not MyCustomTest\\\"\\nto not run a specific test.\
        \ More information is shown with\\npytest -h\\nComing to the test file structure.\
        \ Every test script starts with your\\nimports. According to the coala code\
        \ style (and pep8 style) we first do\\nsystem imports (like re or subprocessing),\
        \ followed by first party\\nimports (like coalib.result.Result).\\nThen the\
        \ actual test su[...]
- request:
    body: '{"text": "Actually Writing a Test\nSo how do you implement a test in coala?
      First up, tests are placed into\nthe coala-bears/tests (if you want to write
      a test for a bear) or\ncoala/tests (if you test a component written for the
      coalib)\ndirectory. They are also written in Python (version 3) and get\nautomatically
      executed by running:\nThere''s only one constraint:\nThe name of the test file
      has to end with Test.py (for example\nMyCustomTest.py, but not MyCustomTestSuite.py[...]
