interactions:
- request:
    body: '{"sections": {"corobo": {"files": "**.gyp", "bears": {"SpaceConsistencyBear":
      {"use_spaces": "yes"}}}}, "mode": "coala", "language": "python", "file_data":
      "import this\n"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gitmate.io/coala_online/
  response:
    body: {string: '{"response": {"results": {"cli": [], "corobo": []}}, "coafile":
        "[cli]\njson = True\n[corobo]\nfiles = **.gyp\nbears = SpaceConsistencyBear\nuse_spaces
        = yes\n"}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sections": {"corobo": {"files": "**.gyp", "bears": {"PyUnusedCodeBear":
      {"remove_unused_imports": "yes"}}}}, "mode": "coala", "language": "python",
      "file_data": "import os\na=1"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gitmate.io/coala_online/
  response:
    body: {string: '{"response": {"results": {"cli": [], "corobo": [{"additional_info":
        "", "affected_code": [{"end": {"column": null, "file": "/usr/src/app/tmp/tmp60lcojfh/tmpv2y64fbc.gyp",
        "line": 1}, "file": "/usr/src/app/tmp/tmp60lcojfh/tmpv2y64fbc.gyp", "start":
        {"column": null, "file": "/usr/src/app/tmp/tmp60lcojfh/tmpv2y64fbc.gyp", "line":
        1}}], "aspect": "NoneType", "confidence": 100, "debug_msg": "", "diffs": {"/usr/src/app/tmp/tmp60lcojfh/tmpv2y64fbc.gyp":
        "--- \n+++ \n@@ -1,2 +1 @@\n-import os\n a=1"}, "id": 145080990684496952883642844275819231544,
        "message": "This file contains unused source code.", "message_arguments":
        {}, "message_base": "This file contains unused source code.", "origin": "PyUnusedCodeBear",
        "severity": 1}]}}, "coafile": "[cli]\njson = True\n[corobo]\nfiles = **.gyp\nbears
        = PyUnusedCodeBear\nremove_unused_imports = yes\n"}'}
    headers:
      Allow: ['POST, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sections": {"corobo": {"files": "**.gyp", "bears": {"b": {}}}}, "mode":
      "coala", "language": "a", "file_data": "c"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gitmate.io/coala_online/
  response:
    body: {string: <h1>Server Error (500)</h1>}
    headers:
      Content-Type: [text/html]
    status: {code: 500, message: Internal Server Error}
version: 1
