interactions:
- request:
    body: '{"sections": {"corobo": {"files": "**.gyp", "bears": {"SpaceConsistencyBear":
      {"use_spaces": "yes"}}}}, "mode": "coala", "language": "python", "file_data":
      "import this\n"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gitmate.io/coala_online/
  response:
    body: {string: '{"response": {"results": {"cli": [], "corobo": []}}, "coafile":
        "[cli]\njson = True\n[corobo]\nfiles = **.gyp\nbears = SpaceConsistencyBear\nuse_spaces
        = yes\n"}'}
    headers:
      Allow: ['OPTIONS, POST']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sections": {"corobo": {"files": "**.gyp", "bears": {"PyUnusedCodeBear":
      {"remove_unused_imports": "yes"}, "PycodestyleBear": {}}}}, "mode": "coala",
      "language": "python", "file_data": "import os\nimport this\na=1\n"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gitmate.io/coala_online/
  response:
    body: {string: '{"response": {"results": {"cli": [], "corobo": [{"additional_info":
        "", "affected_code": [{"end": {"column": null, "file": "/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp",
        "line": 1}, "file": "/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp", "start":
        {"column": null, "file": "/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp", "line":
        1}}], "aspect": "NoneType", "confidence": 100, "debug_msg": "", "diffs": {"/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp":
        "--- \n+++ \n@@ -1,3 +1,2 @@\n-import os\n import this\n a=1\n"}, "id": 210339043030589055335344548744699000942,
        "message": "This file contains unused source code.", "message_arguments":
        {}, "message_base": "This file contains unused source code.", "origin": "PyUnusedCodeBear",
        "severity": 1}, {"additional_info": "", "affected_code": [{"end": {"column":
        2, "file": "/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp", "line": 3}, "file":
        "/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp", "start": {"column": 2, "file":
        "/usr/src/app/tmp/tmpxg4ykt5m/tmpwgv0naeq.gyp", "line": 3}}], "aspect": "NoneType",
        "confidence": 100, "debug_msg": "", "diffs": null, "id": 230845698266137851115230071385570299039,
        "message": "E225 missing whitespace around operator", "message_arguments":
        {}, "message_base": "E225 missing whitespace around operator", "origin": "PycodestyleBear
        (E225)", "severity": 1}]}}, "coafile": "[cli]\njson = True\n[corobo]\nfiles
        = **.gyp\nbears = PyUnusedCodeBear,PycodestyleBear\nremove_unused_imports
        = yes\n"}'}
    headers:
      Allow: ['OPTIONS, POST']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sections": {"corobo": {"files": "**.gyp", "bears": {"b": {}}}}, "mode":
      "coala", "language": "a", "file_data": "c\n"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.gitmate.io/coala_online/
  response:
    body: {string: <h1>Server Error (500)</h1>}
    headers:
      Content-Type: [text/html]
    status: {code: 500, message: Internal Server Error}
version: 1
