interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.wolframalpha.com/v2/query?input=2%5E6
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult success='true'\n\
        \    error='false'\n    numpods='4'\n    datatypes=''\n    timedout=''\n \
        \   timedoutpods=''\n    timing='0.777'\n    parsetiming='0.10300000000000001'\n\
        \    parsetimedout='false'\n    recalculate='https://www4c.wolframalpha.com/api/v2/recalc.jsp?id=MSPa1365923470f0h07i96f4c000026cg71425e47c1c56424458449468497187'\n\
        \    id='MSPa1366023470f0h07i96f4c00002c414f268e1bh92c'\n    host='https://www4c.wolframalpha.com'\n\
        \    server='31'\n    related='https://www4c.wolframalpha.com/api/v2/relatedQueries.jsp?id=MSPa1366123470f0h07i96f4c00005i44538i7e542d776424458449468497187'\n\
        \    version='2.6'>\n <pod title='Input'\n     scanner='Identity'\n     id='Input'\n\
        \     position='100'\n     error='false'\n     numsubpods='1'>\n  <subpod\
        \ title=''>\n   <img src='https://www4c.wolframalpha.com/Calculate/MSP/MSP1366223470f0h07i96f4c00000ifdb9bb1430203h?MSPStoreType=image/gif&amp;s=31'\n\
        \       alt='2^6'\n       title='2^6'\n       width='15'\n       height='18'\
        \ />\n   <plaintext>2^6</plaintext>\n  </subpod>\n </pod>\n <pod title='Result'\n\
        \     scanner='Simplification'\n     id='Result'\n     position='200'\n  \
        \   error='false'\n     numsubpods='1'\n     primary='true'>\n  <subpod title=''>\n\
        \   <img src='https://www4c.wolframalpha.com/Calculate/MSP/MSP1366323470f0h07i96f4c000030ha8g7b68559c74?MSPStoreType=image/gif&amp;s=31'\n\
        \       alt='64'\n       title='64'\n       width='16'\n       height='18'\
        \ />\n   <plaintext>64</plaintext>\n  </subpod>\n  <states count='1'>\n  \
        \ <state name='Step-by-step solution'\n       input='Result__Step-by-step\
        \ solution' />\n  </states>\n </pod>\n <pod title='Number name'\n     scanner='Integer'\n\
        \     id='NumberName'\n     position='300'\n     error='false'\n     numsubpods='1'>\n\
        \  <subpod title=''>\n   <img src='https://www4c.wolframalpha.com/Calculate/MSP/MSP1366423470f0h07i96f4c0000109eic6h738c62bd?MSPStoreType=image/gif&amp;s=31'\n\
        \       alt='sixty-four'\n       title='sixty-four'\n       width='64'\n \
        \      height='18' />\n   <plaintext>sixty-four</plaintext>\n  </subpod>\n\
        \ </pod>\n <pod title='Number line'\n     scanner='NumberLine'\n     id='NumberLine'\n\
        \     position='400'\n     error='false'\n     numsubpods='1'>\n  <subpod\
        \ title=''>\n   <img src='https://www4c.wolframalpha.com/Calculate/MSP/MSP1366523470f0h07i96f4c0000382i54g3b6e0d77c?MSPStoreType=image/gif&amp;s=31'\n\
        \       alt=''\n       title=''\n       width='300'\n       height='56' />\n\
        \   <plaintext></plaintext>\n  </subpod>\n </pod>\n</queryresult>"}
    headers:
      Content-Type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.wolframalpha.com/v2/query?input=this+is+a+sentence
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?>\n<queryresult success='false'\n\
        \    error='false'\n    numpods='0'\n    datatypes=''\n    timedout=''\n \
        \   timedoutpods=''\n    timing='1.99'\n    parsetiming='0.455'\n    parsetimedout='false'\n\
        \    recalculate=''\n    id=''\n    host='https://www5a.wolframalpha.com'\n\
        \    server='59'\n    related=''\n    version='2.6'>\n <didyoumeans count='1'>\n\
        \  <didyoumean score='0.361698' level='medium'>sentence</didyoumean>\n </didyoumeans>\n\
        </queryresult>"}
    headers:
      Content-Type: [text/xml;charset=utf-8]
    status: {code: 200, message: OK}
version: 1
